<div class="container-fluid content-separador" id="product">
    <div class="separador"></div>
    <div class="titulo-section">
        <span>Productos</span>
    </div>
    <div class="container-app">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let product of listProducts">

                <div class="container-box">
                  <a href="https://wa.me/message/5UFIFJHIHUBTO1" class="not-decoration" target="_blank">
                    <div class="box">
                      <img src="{{ product.img }}" width="300" alt="" srcset="">
                    </div>
                    <div class="box">
                      <p class="titulo-carousel">{{ product.title }}</p>
                    </div>
                  </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
