app-section-products{
    owl-carousel-o{
        width: 100%;
    }

    .not-decoration{
      text-decoration: none;
      color: black;
    }

    .owl-prev,
    .owl-next {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    }

    .owl-prev {
        left: -1rem;
    }

    .owl-next {
    right: -1rem;
    }

    .owl-theme .owl-nav [class*=owl-]{
        background: transparent;
    }

    .owl-theme .owl-nav [class*=owl-]:hover{
        background: transparent;
    }

    .owl-carousel .owl-stage-outer{
        margin-left: 40px;
        margin-right: 40px;
    }

    .image-carousel{
        padding: 30px;
    }

    .image-carousel img{
        width: 280px !important;
    }

    .titulo-carousel{
        font-size: 27px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .container-box {
        display: flex;              /* establish flex container */
        flex-direction: column;     /* stack flex items vertically */
        justify-content: center;    /* center items vertically, in this case */
        align-items: center;        /* center items horizontally, in this case */
        height: 400px;
        margin-left: -90px;
    }

    .box {
        width: 280px;
        margin: 5px;
        text-align: center;
    }
    @media screen and (max-width: 800px) {
        owl-carousel-o{
            width: 80%;
        }

        .owl-prev {
            left: 0rem;
        }

        .owl-next {
            right: 0rem;
        }

        .owl-prev img, .owl-next img{
            width: 48px;
        }

        .titulo-carousel{
            font-size: 18px;
        }

        .box {
            width: 140px;
        }
    }

    @media screen and (max-width: 470px) {
        .owl-prev, .owl-next{
            top: 40%;
        }

        .owl-prev{
            left: 0rem;
        }

        .owl-next{
            right: 0rem;
        }

        .owl-prev img, .owl-next img{
            width: 35px;
        }

        .titulo-carousel{
            font-size: 16px;
        }
    }
}
