.content{
    text-align: center;
    padding-top: 50px;
}

h4{
    font-size: 100px;
    font-weight: bold;
    color: #de3626;
}

p{
    font-size: 40px;
}

button{
    background: #de3626;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}