.col-servicio{
    padding-bottom: 20px;
}

.card-servicio{
    border: 1px solid #b7b4b4;
    padding: 30px 10px;
    border-radius: 5px;
}

.card-servicio img{
    width: 100%;
}

.titulo-servicio{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    height: 85px;
}

.descripcion-servicio{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
}

.boton-servicio{
    padding-top: 20px;
}

.boton-servicio button{
    background: #de3626;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .titulo-servicio{
        font-size: 15px;
        height: 65px;
    }

    .descripcion-servicio{
        font-size: 13px;
        -webkit-line-clamp: 3;
    }
    .boton-servicio button{
        font-size: 11px;
    }
}

@media screen and (max-width: 470px) {
    .col-servicio{
        padding-right: 4px;
        padding-left: 4px;
    }

    .titulo-servicio{
        font-size: 12px;
        height: 55px;
    }

    .descripcion-servicio{
        font-size: 11px;
    }
    
}