<div class="container-fluid content-separador">
    <div class="separador"></div>
    <div class="titulo-section">
        <span>Servicios</span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-6 col-servicio" *ngFor="let service of listService">
            <div class="card-servicio">
                <img src="{{service.img}}" alt="" srcset="">
                <div class="titulo-servicio">{{ service.title }}</div>
                <div class="descripcion-servicio" [innerHtml]="service.description"></div>
                <div class="boton-servicio"><button (click)="openModalWithComponent(service)">Ver más</button></div>
            </div>
        </div>
    </div>
</div>