
.header{
    padding-bottom: 50px;
}

.clear {
    clear: both;
}
  
.nav-container {
    background: transparent;
    margin: auto 0;
}
  
.navbar-inner { background: #de3626ff }

nav ul { padding-left: 0; }

nav ul li:first-child { float: left; }

nav ul li { float: right; }

nav ul li { list-style: none; font-size: 15px; }

nav ul li img{ width: 150px; }

nav ul li span { 
    color: #000;
    margin: -18px 18px -18px;
    padding: 18px;
    display: block;
    padding-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

nav ul li span.active{ 
    background: #de3626ff;
    color: #fff;
}

nav ul li span.pull-left { margin: 0; padding: 0; display: block; }

@media screen and (max-width: 470px) {
    nav ul li img{
        width: 80px;
    }

    nav ul li span{
        margin: -35px 5px -18px;
        padding: 50px 7px 15px 7px;
    }

    nav ul li{
        font-size: 11px;
    }

    .container-app{
        margin: 0;
    }
}