<div class="container-fluid">
    <div class="container-app header">
        <div class="nav-container">
            <nav>
                <ul>
                    <li [routerLink]="['/']"><img src="assets/images/logo.svg" alt="Tu Enlace Directo"></li>
                    <li><span (click)="onScrollToMyElement('contact')"
                            [className]="itemSelec == 'contact' ? 'active' : ''">Contactos</span></li>
                    <li ><span (click)="onScrollToMyElement('product')"
                            [className]="itemSelec == 'product' ? 'active' : ''">Productos</span></li>
                    <li ><span (click)="onScrollToMyElement('service')"
                            [className]="itemSelec == 'service' ? 'active' : ''">Servicios</span></li>
                </ul>
                <div class="clear"></div>
            </nav>
        </div>
    </div>
</div>
