<div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <div aria-hidden="true">&times;</div>
    </button>
    <div class="body">
        <div class="row">
            <div class="col-lg-10">
                <div class="titulo-servicio">{{ service.title }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div [innerHtml]="service.description"></div>
            </div>
        </div>
    </div>
</div>