button{
    background: #de3626ff;
    float: right;
    border: none;
    margin-top: -16px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45px;
    cursor: pointer;
}

button div{
    font-size: 50px;
    color: #fff;
    margin-top: -20px;
}

.titulo-servicio{
    font-size: 22px;
    font-weight: bold;
}

.body{
    padding: 30px;
}

.body .row:last-child{
    padding-top: 30px;
}