<app-header [itemSelec]="itemSelec" (scrollToMyElement)="scrollToMyElement($event)"></app-header>

<app-section-carousel-up></app-section-carousel-up>

<app-section-video></app-section-video>

<app-section-services id="service"></app-section-services>

<app-section-products id="product"></app-section-products>

<app-section-contact id="contact"></app-section-contact>

<app-footer></app-footer>