.container-app{
    margin-left: 5%;
    margin-right: 5%;
}

.row-principal{
    margin-left: 5%;

}

.content-texto{
    align-self:center
}

.titulo{
    font-size: 54px;
    color: #de3626ff;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 20px;
}

.texto{
    font-size: 22px;
}

.content-separador{
    padding: 50px 0px;
}

.separador{
    background-image: url("~src/assets/images/separador.svg");
    background-repeat: repeat-x;
    background-size: 75px;
    height: 85px;
    margin-left: 0px;
    margin-top: 20px;
}

.titulo-section{
    text-align: center;
    margin-top: -103px;
}

.titulo-section span{
    background: #fff;
    font-size: 50px;
    padding: 50px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}

#producto{
    padding-bottom: 50px;
}

.home-item{
    background: red;
}

@media screen and (max-width: 800px) {
    .titulo{
        font-size: 37px;
    }

    .texto{
        font-size: 18px;
    }

    .redes{
        display: none;
    }

    .separador{
        background-size: 55px;
        height: 95px;
    }

    .titulo-section span{
        font-size: 33px;
        padding: 25px;
    }

    .row-principal{
        margin-left: 2%;
    }

    .container-app{
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (max-width: 576px) {
    .titulo{
        text-align: center;
    }

    .titulo-section span{
        font-size: 36px;
    }

    .img-dibujo{
        padding-left: 0px;
    }

}

