
.footer{
    margin-top: 50px;
    background: #000;
}

.footer a{
  text-decoration: none;
  color: white;
}

.footer img{
    width: 100%;
}

.links-footer{
    float: right;
}

.links-footer li {
    list-style: none;
    color: #fff;
    width: 100%;
    text-align: right;
    font-size: 14px;
    padding-top: 10px;
}

.copy-right{
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.patrocinantes {
    list-style: none outside none;
    margin:0;
    padding: 0;
    text-align: center;
    margin-top: -20px;
}

.patrocinantes li { margin: 0 10px; display: inline; padding: 10px; }

.patrocinantes li img{
    height: 35px;
    width: auto;
}

.display-all{
    display: block;
}

.display-mobile{
    display: none;
}

.ul-term {
  display: flex;
  justify-content: space-between;
}

.ul-term li {
    margin: 0 10px;
    display: inline;
    padding: 10px 0;
    float: left;
}

.ul-term li span{
    font-size: 6px;
    width: auto;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .patrocinantes li img{
        height: 19px;
    }

    .patrocinantes li{
        margin: 0;
    }

    .links-footer li{
        font-size: 10px;
    }

    .copy-right{
        font-size: 11px;
    }
}

@media screen and (max-width: 470px) {
    .patrocinantes li img{
        height: 13px;
    }

    .patrocinantes li{
        padding-left: 0px;
        padding-right: 4px;
    }

    .display-all{
        display: none;
    }

    .display-mobile{
        display: block;
    }
}
