<div class="container-fluid footer">
  <div class="container-app">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-3 content-texto">
        <img src="assets/images/footer/logo-3.svg" alt="" srcset="">
      </div>
      <div class="col-lg-8 col-md-8 col-9 content-texto">
        <ul class="patrocinantes">
          <li class="patrocinante">
            <img src="assets/images/footer/bank-america-icon.svg" alt="" srcset="">
          </li>
          <li class="patrocinante">
            <img src="assets/images/footer/icbc-icon.svg" alt="" srcset="">
          </li>
          <li class="patrocinante">
            <img src="assets/images/footer/zelle-icon.svg" alt="" srcset="">
          </li>
          <li class="patrocinante">
            <img src="assets/images/footer/santander-icon.svg" alt="" srcset="">
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-12 content-texto display-all">
        <ul class="links-footer">
          <li>
            <a [routerLink]="['/','terminos-y-condiciones']">
              <span>Term and Condition</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/','politica-de-privacidad']">
              <span>Privacy Policy</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/','politicas-de-cookies']">
              <span>Cookie Policy</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-12 content-texto display-all">
        <p class="copy-right">© 2021 All right reserved</p>
      </div>
      <div class="col-lg-12 col-12 content-texto display-mobile">
        <ul class="ul-term p-0">
          <li>
            <span>© 2021 All right reserved</span>
          </li>
          <li>
            <a [routerLink]="['/','terminos-y-condiciones']">
              <span>Term and Condition</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/','politica-de-privacidad']">
              <span>Privacy Policy</span>
            </a>
          </li>
          <li>
            <a
               [routerLink]="['/','politicas-de-cookies']">
              <span>Cookie Policy</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
