.content-video{
    margin-top: 25px;
    background: #e5e5e5ff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.video{
    padding: 10px;
}

.video img{
    width: 100%;
}

.video iframe{
    width: 100%;
}

.titulo-video{
    font-size: 54px;
    color: #000;
    font-family: 'Russo One', sans-serif;
}

.texto-video{
    font-size: 22px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column1 {
    display: inline;
}

.column2 {
    display: inline;
}
  

@media screen and (max-width: 800px) {
    .titulo-video{
        font-size: 26px;
    }

    .texto-video{
        font-size: 15px;
    }
}

@media all and (max-width: 450px) {
    .titulo-video{
        text-align: center;
        font-size: 37px;
    }

    .texto-video{
        font-size: 18px;
    }

    .row {
      flex-direction: column;
    }
    .row .column2 {
      order: 1;
    }
    .row .column1 {
      order: 2;
    }

    .video{
        padding: 20px 0 0 0;
        margin-right: -12px;
        margin-left: -12px;
    }

    .container-app{
        margin: 0;
    }

    .content-video{
        background: #fff;
        padding-bottom: 0px;
    }
}