<div class="container-fluid content-video">
    <div class="container-app">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 content-texto column1">
                <div class="video">
                    <iframe id="ytplayer" type="text/html" width="640" height="360"
                        src="https://www.youtube.com/embed/n_ZW-uGP5-Q?autoplay=1" frameborder="0" ></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 column12 content-texto">
                <div class="titulo-video">Importa de China exitosamente</div>
                <div class="texto-video">
                  Nuestro trabajo es asegurar que su inversión de
                  compra en China sea altamente rentable, por ello;
                  nuestra primera misión es facilitar y agilizar sus
                  pasos en el negocio de importación de China y
                  prevenirle de los problemas más comunes a la hora
                  de establecer relaciones comerciales con
                  proveedores chinos. <br>
                  En tu enlace directo contamos con un equipo de
                  trabajo especializado en gestionar tu proyecto de

                  importación, para que tus compras en China
                  puedan ser llevadas a cabo de forma segura.
                </div>
            </div>
        </div>
    </div>
</div>
