<app-header [itemSelec]="itemSelec" [mode]="true" (scrollToMyElement)="scrollToMyElement($event)"></app-header>
<div class="container-sm pt-4 pb-4">
  <h2 class="text-center mb-4"><b>{{data?.title}}</b></h2>
  <div class="texto" [innerHTML]="data?.text"></div>
</div>
<br>
<br>
<br>
<app-section-contact id="contact"></app-section-contact>

<app-footer></app-footer>
