app-section-carousel-up{
  .banner-new{
    .owl-carousel{
      //background-image: url("../../../../../assets/images/banners/banner-pc-1.jpg");
    }

  }
    .owl-prev,
    .owl-next {
        position: absolute;
        bottom: 0px;
        transform: translateY(-50%);
    }

    .owl-prev {
        right: 10rem;
    }

    .owl-next {
        right: 3rem;
    }

    .owl-carousel .owl-item img.mobile{
        display: none;
    }

    .owl-theme .owl-nav [class*=owl-]{
        background: transparent;
    }

    .owl-theme .owl-nav [class*=owl-]:hover{
        background: transparent;
    }

    .redes img{
        cursor: pointer;
    }

    .img-dibujo{
      .all{
        //position: absolute;
        //left: 0;
        //top: 0;
        //z-index: -1;
      }
        padding-right: 0px;
    }

    .img-dibujo img{
        float: right;
        width: 100%;
    }

    .all{
        display: initial;
    }

    .mobile{
        display: none;
        margin-left: -5%;
    }

    .row-principal{
        margin-right: 0;
    }

    .redes{
        margin-top: -90px;
        display: block;
        z-index: 999;
        position: relative;
    }

    .redes-mobile{
        display: none;
        text-align: center;
        text-align: center;
        padding-top: 30px;
        margin-bottom: -50px;
    }

    .box-principal{
        margin-top: -2rem;
      //padding-bottom: 22rem;
    }

    @media screen and (max-width: 800px) {
        .redes{
            display: none;
        }

        .box-principal{
            margin-top: 0px;
        }
    }

    @media screen and (max-width: 576px) {
        .img-dibujo{
            padding-left: 0px;
        }

        .owl-carousel .owl-item img.all{
            display: none;
        }

        .owl-carousel .owl-item img.mobile{
            display: initial;
        }

        .owl-prev img, .owl-next img{
            width: 50px;
        }

        .redes-mobile{
            display: flex;
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            bottom: -20px;
            transform: translateY(-50%);
        }

        .owl-prev {
            right: 12.5rem;
        }

        .owl-next {
            right: 5.5rem;
        }
    }

}
