<owl-carousel-o [options]="customOptions" class="banner-new">
  <ng-template carouselSlide>
    <div class="row row-principal">
      <div class="col-lg-5 col-md-5 col-sm-5 col-12 content-texto box-principal">
        <div class="titulo">Importamos de China a latinoamérica</div>
        <div class="texto">Somos tu enlace directo para tus compras en China,
          nuestra sede en el Distrito de Baiyun, cuenta con un
          estratégico almacén rodeado de miles de fábricas a
          pocos kilómetros del puerto de Guangzhou, gracias
          a nuestra alianza con TIAN CHENG Internacional
          Logistics Ltd.; ofrecemos un servicio profesional y
          efectivo para tus importaciones.
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-12 img-dibujo">
        <img src="assets/images/banners/banner-pc-fix-4.png" alt="" srcset="" class="all">
        <img src="assets/images/banners/banner-movil-4.jpg" alt="" srcset="" class="mobile">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="row row-principal">

      <div class="col-lg-5 col-md-5 col-sm-5 col-12 content-texto box-principal">
        <div class="titulo">Importamos de China a latinoamérica</div>
        <div class="texto">Somos tu enlace directo para tus compras en China,
          nuestra sede en el Distrito de Baiyun, cuenta con un
          estratégico almacén rodeado de miles de fábricas a
          pocos kilómetros del puerto de Guangzhou, gracias
          a nuestra alianza con TIAN CHENG Internacional
          Logistics Ltd.; ofrecemos un servicio profesional y
          efectivo para tus importaciones.
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-12 img-dibujo">
        <img src="assets/images/banners/banner-pc-fix-1.png" alt="" srcset="" class="all">
        <img src="assets/images/banners/banner-movil-1.jpg" alt="" srcset="" class="mobile">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="row row-principal">
      <div class="col-lg-5 col-md-5 col-sm-5 col-12 content-texto box-principal">
        <div class="titulo">Importamos de China a latinoamérica</div>
        <div class="texto">Somos tu enlace directo para tus compras en China,
          nuestra sede en el Distrito de Baiyun, cuenta con un
          estratégico almacén rodeado de miles de fábricas a
          pocos kilómetros del puerto de Guangzhou, gracias
          a nuestra alianza con TIAN CHENG Internacional
          Logistics Ltd.; ofrecemos un servicio profesional y
          efectivo para tus importaciones.
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-12 img-dibujo">
        <img src="assets/images/banners/banner-pc-fix-2.png" alt="" srcset="" class="all">
        <img src="assets/images/banners/banner-movil-2.jpg" alt="" srcset="" class="mobile">
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="row row-principal">
      <div class="col-lg-5 col-md-5 col-sm-5 col-12 content-texto box-principal">
        <div class="titulo">Importamos de China a latinoamérica</div>
        <div class="texto">Somos tu enlace directo para tus compras en China,
          nuestra sede en el Distrito de Baiyun, cuenta con un
          estratégico almacén rodeado de miles de fábricas a
          pocos kilómetros del puerto de Guangzhou, gracias
          a nuestra alianza con TIAN CHENG Internacional
          Logistics Ltd.; ofrecemos un servicio profesional y
          efectivo para tus importaciones.
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-12 img-dibujo">
        <img src="assets/images/banners/banner-pc-fix-3.png" alt="" srcset="" class="all">
        <img src="assets/images/banners/banner-movil-3.jpg" alt="" srcset="" class="mobile">
      </div>
    </div>
  </ng-template>

</owl-carousel-o>
<!--<div class="redes row-principal">-->
<!--  <img src="assets/images/contacto/facebook.svg" width="50" alt="" srcset="" (click)="goToFacebook()">-->
<!--  <img src="assets/images/contacto/instagram.svg" width="50" alt="" srcset="" (click)="goToIntagram()">-->
<!--</div>-->
<div class="container">
  <div class="row redes-mobile">
    <div class="offset-2 col-2">
      <img src="assets/images/contacto/facebook-rojo.svg" width="50" alt="" srcset="" (click)="goToFacebook()">
    </div>
    <div class="col-2">
      <img src="assets/images/contacto/instagram-rojo.svg" width="50" alt="" srcset="" (click)="goToIntagram()">
    </div>
    <div class="col-2">
      <img src="assets/images/contacto/mail-rojo.svg" width="50" alt="" srcset="" (click)="goToMail()">
    </div>
    <div class="col-2">
      <img src="assets/images/contacto/whatsapp-rojo.svg" width="50" alt="" srcset="" (click)="goToWhatsapp()">
    </div>
  </div>
</div>
