<div class="container-fluid">
    <div class="container-app">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="titulo-contacto">Importamos de China a latinoamérica</div>
            </div>
        </div>
        <div class="row row-contact">
            <div class="col-lg-3 col-md-5 col-12 content-texto column1">
                <div class="row direccion-contacto">

                    <div class="col-lg-3 icon-map">
                        <img src="assets/images/contacto/icon-map.svg" alt="" srcset="">
                    </div>
                    <div class="col-lg-9 col-12 content-texto d-flex">
                        <span class="icon-map-mb"><img src="assets/images/contacto/icon-map.svg" alt="" srcset=""></span><strong>Dirección</strong>
                    </div>
                    <div class="offset-lg-3 col-lg-9 col-12">
                        <p>Edif. 101 Recinto Longchuang
                            Yunlu, 40 Huangbian South Road,
                            Helong Street, distrito Baiyun,
                            Guangzhou China</p>
                    </div>
                </div>
                <div class="row direccion-contacto display-all">
                    <div class="col-lg-8 col-md-8">
                        <img src="assets/images/contacto/logo-2.svg" alt="" srcset="">
                    </div>
                    <div class="col-lg-4 col-md-4 content-texto">
                        <img src="assets/images/contacto/logo-empresa.svg" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 col-12 column2">
                <div class="row direccion-contacto">
                    <div class="col-4 display-mobile content-texto">
                        <div class="row direccion-contacto">
                            <div class="col-12">
                                <img src="assets/images/contacto/logo-2.svg" alt="" srcset="">
                            </div>
                            <div class="col-12">
                                <img class="logo-empresa" src="assets/images/contacto/logo-empresa.svg" alt=""
                                    srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-8 content-texto">
                      <a target="_blank" href="https://www.google.com/maps/place/40+Huang+Bian+Nan+Lu,+Baiyun+Qu,+Guangzhou+Shi,+Guangdong+Sheng,+China,+510070/@23.2230806,113.2745933,17z/data=!4m12!1m6!3m5!1s0x3402fc7ae5eb5567:0x437e808c7fc3bf06!2sBaiyundadaobei+station!8m2!3d23.219865!4d113.297041!3m4!1s0x3402fb9ad840436b:0x7a197b4e58a89dfd!8m2!3d23.2239459!4d113.2743309?hl=es">
                        <img src="assets/images/contacto/map.svg" alt="" srcset="">
                      </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 content-texto">
                <ul class="ul-redes">
                    <li>
                        <div class="red-social" (click)="goToIntagram()">
                            <span>
                                <img src="assets/images/contacto/instagram-rojo.svg" alt="" srcset="">
                            </span>
                            <span>
                                <strong>@tuenlacedirecto</strong>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="red-social" (click)="goToFacebook()">
                            <span>
                                <img src="assets/images/contacto/facebook-rojo.svg" alt="" srcset="">
                            </span>
                            <span>
                                <strong>@tuenlacedirecto</strong>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="red-social" (click)="goToMail()">
                            <span>
                                <img src="assets/images/contacto/mail-rojo.svg" alt="" srcset="">
                            </span>
                            <span>
                                <strong>info@tuenlacedirecto.com</strong>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="red-social" (click)="goToWhatsapp()">
                            <span>
                                <img src="assets/images/contacto/whatsapp-rojo.svg" alt="" srcset="">
                            </span>
                            <span class="phones">
                                <strong>+34 634 19 25 64<br>
                                    +58 412 174 77 56</strong>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
