.titulo-contacto {
  font-size: 54px;
  color: #000;
  font-family: 'Russo One', sans-serif;
}

.direccion-contacto {
  width: 100%;
}

.direccion-contacto p {
  font-size: 14px;
}

.direccion-contacto img {
  width: 100%;
  height: 100%;
}

.redes-contacto {
  width: 100%;
  height: 60px;
}

.redes-contacto img {
  width: 100%;
  height: 100%;
}

.icon-map {
  display: initial;
}

.ul-redes {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.ul-redes li {
  margin: 0 10px;
  display: inline;
  padding: 10px;
}

.ul-redes li img {
  height: 53px;
  width: auto;
}

.red-social {
  display: table;
  cursor: pointer;
}

.red-social img {
  vertical-align: middle;
  display: table-cell;
}

.red-social span {
  vertical-align: middle;
  display: table-cell;
  font-size: 18px;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.display-all {
  display: flex;
}

.display-mobile {
  display: none;
}

.logo-empresa {
  height: unset;
}

.row-contact {
  display: flex;
  flex-wrap: wrap;
}

.column1 {
  display: inline;
}

.column2 {
  display: inline;
}

.phones {
  font-family: 'Russo One', sans-serif !important;
}

.icon-map-mb {
  display: none;
}

@media screen and (max-width: 800px) {
  .titulo-contacto {
    font-size: 37px;
  }


  .icon-map {
    display: none;
  }

  .icon-map-mb {
    display: block;
  }
  .icon-map-mb img {

    width: 25px !important;
    height: 25px !important;
    margin-right: .5rem;

  }

  .direccion-contacto img {
    height: unset;
  }

  .ul-redes li {
    padding: 10px 0;
    float: left;
  }

  .ul-redes li img {
    height: 35px;
  }

  .red-social span {
    font-size: 12px;
    padding-left: 1px;
  }
}

@media screen and (max-width: 470px) {
  .titulo-contacto {
    text-align: center;
  }

  .ul-redes {
    display: none;
  }

  .direccion-contacto {
    flex-direction: initial;
    width: auto;
  }

  .display-all {
    display: none;
  }

  .display-mobile {
    display: initial;
  }

  .logo-empresa {
    height: 100px !important;
  }

  .row-contact {
    flex-direction: column;
  }

  .row-contact .column2 {
    order: 1;
  }

  .row-contact .column1 {
    order: 2;
    padding-top: 20px;
  }
}
